@model IEnumerable<_2021_06_17_Experimentente_Partial_Views.Models.Document>

@{
    ViewData["Title"] = "Home Page";

}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<br />
<br />
<br />

<p>Hier soll die ViewBag stehen</p>


<body>
    <div>
        <p>@ViewBag.Message</p>
    </div>

</body>


@*<ul>
        @for (int i = 0; i < ViewBag.DieAnzahl; i++)
        {
            <li>@ViewBag.MeinText</li>
        }
    </ul>*@

@*<ul>
        @foreach (var item in ViewBag.Liste)
        {
            <li>@ViewBag.</li>
        }
    </ul>*@
